.box {
    margin-top: 120px;
}

.box__heading {
    color: #3D3D3F;
    font-family: "DM Sans";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    width: 100%;
}

.box__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 55px;
    border-radius: 17px;
    border: 2px solid rgba(235, 235, 235, 0.80);
    gap: 0px;
}

.box__item {
    text-align: center;
}

.box__img {
    margin-top: 55px;
    padding-bottom: 60px;
}

.box__heading2 {
    color: #3D3D3F;
    font-family: "DM Sans";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}

.box__text {
    color: #3D3D3F;
    font-family: "DM Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    padding-bottom: 54px;
}

@media only screen and (max-width: 760px) {
    .best__info2 {
        flex-direction: column;
    }

    .box__heading {
        font-size: 36px;
    }
}

@media only screen and (max-width: 480px) {
    .box__item {
        margin-right: 30px;
    }
}